include src/injectlib/libs/dotnet/x86/bootstrap.dll
include src/injectlib/libs/dotnet/x86/Newtonsoft.Json.dll
include src/injectlib/libs/dotnet/x86/worker_wpf.dll

include src/injectlib/libs/dotnet/x64/bootstrap.dll
include src/injectlib/libs/dotnet/x64/Newtonsoft.Json.dll
include src/injectlib/libs/dotnet/x64/worker_wpf.dll


include src/injectlib/libs/hook/x86/pywinmsg32.dll
include src/injectlib/libs/hook/x86/pywinmsg32u.dll

include src/injectlib/libs/hook/x64/pywinmsg64.dll
include src/injectlib/libs/hook/x64/pywinmsg64u.dll

include src/injectlib/libs/qt5/x86/qt5_srv.dll
include src/injectlib/libs/qt5/x64/qt5_srv.dll
include src/injectlib/libs/qt5/x64/qt5_srv.so
include src/injectlib/libs/qt6/x64/qt6_srv.dll
include src/injectlib/libs/qt6/x64/qt6_srv.so
